
.container {
    background-color: beige;
    display: flex;
    height: 960px;
    width: 960px;
}

.bigContainer {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    color: pink;
    border-radius: 20px;
    padding: 10px;
    size: 100px;
    
}

button {
    padding: 10px 25px 10px 25px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.gridSquare {
    background-color: beige;
    border-color: black;
    border: 1px solid black;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

#blankSpace {
    height: 0px;
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.gridRow {
    display: flex;
    flex-direction: column;
    flex: 1;
   
}